.billForm{
  background-color: white;
}
input{
    height: 40px; /* Adjust the height as needed */
   width: 100%;
  }

  .drp{
    height: 40px; /* Adjust the height as needed */
    width: 100%;
  }