

.App {
  text-align: center;
  background-color: white;
}
:where(.css-dev-only-do-not-override-p8b6i).ant-layout [class^="ant-layout"], :where(.css-dev-only-do-not-override-p8b6i).ant-layout [class*=" ant-layout"] {
  box-sizing: border-box;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ant-input-search :where(.css-dev-only-do-not-override-p8b6i).ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-start-start-radius: 6px;
  border-end-start-radius: 6px;
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
  height: 40px;
  width: -webkit-fill-available;
}