
/* :where(.css-dev-only-do-not-override-p8b6i).ant-layout [class^="ant-layout"], :where(.css-dev-only-do-not-override-p8b6i).ant-layout [class*=" ant-layout"] {
  box-sizing: border-box;
  background-color: white;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  user-select: none;
}

input, textarea {
  user-select: auto; /* Input fields mein user select ko allow karo */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

